.button
    height = 64
    display: block
    height: height * 1px
    line-height: rem(height)
    color: colour('white')
    text-align: center
    background: colour('black')
    border: 0
    
    &--primary
        background: colour('black')
        
    &--secondary
        background: lighten(colour('black'), 10%)
        
    &--tertiary
        background: lighten(colour('black'), 20%)
        
    &--small
        height = 44
        height: height * 1px
        line-height: rem(height)

    .no-touch &:hover,
    &:active
        color: colour('grey')
        background: colour('highlight')
