<template name="undo">
  <div id="js-undo" class="undo">
    <menu id="js-undo-menu" class="undo__menu">
      <menuitem id="js-undo-button" class="button button--functional button--primary undo__menu-item">Undo</menuitem>
      {{#if deletedCount}}
        <menuitem id="js-archive-button" class="button button--functional button--secondary undo__menu-item">See Archive ({{deletedCount}})</menuitem>
        <menuitem id="js-cancel-button" class="button button--functional button--tertiary undo__menu-item">Cancel</menuitem>
      {{else}}
        <menuitem id="js-cancel-button" class="button button--functional button--secondary undo__menu-item">Cancel</menuitem>  
      {{/if}}
    </menu>
  </div>
</template>
