.undo-menu
    position: fixed
    top: 100%
    left: 0
    z-index: 4
    width: 100%
    text-align: center
    background: colour('black')
    
    &__item
        
        & + &
            border-top: 1px dashed colour('white')
