.tag
    display: inline-block
    margin: 0 8px 0 0
    font-scale('body', '1')
    
    &__link
        position: relative
        padding: 5px 6px 5px
        border: 1px solid colour('grey', 'light')
                
        &:focus
            border-color: colour('grey', 'medium')

        &:active
            background: colour('grey', 'medium')
            border-color: colour('grey', 'medium')
            
        &--is-selected
            color: colour('white')
            background: colour('black')
            border-color: colour('black')
            
            &:before
                background: colour('white')
                border-color: colour('white')

    &__count
        display: inline-block
        padding: 2px 0 0
        width: 20px
        height: @width
        text-align: center
        border: 1px dotted colour('grey', 'medium')
        border-radius: 50%
        
        &--is-selected,
        .tag__link:active &
            border-color: colour('white')
