height = 64

.button
    display: block
    height: height * 1px
    text-align: center
    background: colour('white')
    border: 0
    
    &--functional
        color: colour('white')
        line-height: rem(height)
        background: colour('black')
        
        &:focus,
        &:active
            background: colour('yellow')
