font(group, scale)
    font-group = font-groups[group]
    font-family: font-group.font-family
    font-size: font-group.scale[scale].font-size
    line-height: font-group.scale[scale].line-height

font-group(group)
    font-family: font-groups[group].font-family

font-scale(group, scale)
    font-group = font-groups[group]
    font-size: font-group.scale[scale].font-size
    line-height: font-group.scale[scale].line-height
