@require 'nib'

// Configuration, helpers, and mixins
@require 'colours/colours.import'
@require 'typography/typography.import'

// Global
@require 'global.import'

// Views
@require '../views/dashboard/dashboard.import'
@require '../views/add-expense/add-expense.import'

// Components
@require '../components/buttons/buttons.import'
@require '../components/expense/expense.import'
@require '../components/totals/totals.import'
@require '../components/undo/undo.import'

html,
body
    margin: 0
    padding: 0

html
    height: 100%
    background: colour('white')

body
    position: relative
    min-height: 100%
