.tag
    position: relative
    padding: 2px 8px 3px
    font-scale('body', '1')
    line-height: rem(24)
    background: colour('white');
    border: 1px solid colour('grey', 'light')

    &:focus
        border-color: colour('grey', 'medium')

    &:hover
        border-color: colour('black')

    &:active
        background: colour('grey', 'medium')
        border-color: colour('grey', 'medium')

    &--is-selected
        color: colour('white')
        background: colour('black')
        border-color: colour('black')

        &:before
            background: colour('white')
            border-color: colour('white')

    &__count
        padding: 0 0 0 2px
        font-size: rem(10)

        &:before
            content: '('

        &:after
            content: ')'

        &--is-selected,
        .tag:active &
            border-color: colour('white')
