font(style, scale)
    font-style = font-styles[style]
    font-family: font-style.font-family
    font-size: font-style.scale[scale].font-size
    line-height: font-style.scale[scale].line-height

font-style(style)
    font-family: font-styles[style].font-family

font-scale(style, scale)
    font-style = font-styles[style]
    font-size: font-style.scale[scale].font-size
    line-height: font-style.scale[scale].line-height
