<template name="expense">
  <article data-block-name="expense" class="js-expense expense">
    <div class="js-container expense__container">
      {{#if isArchived}}
        <svg data-element-name="icon" class="js-left-icon icon expense__icon expense__icon--left expense__icon--restore">
          <use xlink:href="#icon-restore"></use>
        </svg>
      {{else}}
        <svg data-element-name="icon" class="js-left-icon icon expense__icon expense__icon--left expense__icon--edit">
          <use xlink:href="#icon-edit"></use>
        </svg>
      {{/if}}
      <div class="js-content expense__content">
        <button class="js-expense-details expense__details">
          <p class="expense__note">{{note}}</p>
          <span class="expense__separator"></span>
          <p class="expense__amount">{{parseCurrency amount}}</p>
        </button>
        <div data-element-name="additional-information" class="js-additional-information expense__additional-information expense__additional-information--is-hidden">
          {{#if location}}
            <p class="expense__location">
              <svg class="icon expense__location-icon">
                <use xlink:href="#icon-location"></use>
              </svg>
              {{location}}
            </p>
          {{/if}}
          <time class="expense__date" datetime="{{date}}">
            <svg class="icon expense__date-icon">
              <use xlink:href="#icon-date"></use>
            </svg>
            {{moment date format="dddd, Do [of] MMMM [at] hA"}}
          </time>
          {{#if hasTags}}
            <div class="js-tags-container expense__tags-container">
              <ul class="js-tags expense__tags">
                {{#each t in tags}}<li class="expense__tag">
                  {{> tag t}}
                </li>{{/each}}
              </ul>
            </div>
          {{/if}}
          {{#if isArchived}}
            <div>
              <button class="js-expense-restore button button--small button--primary expense__button expense__button--restore">Restore</button>
              <button class="js-expense-destroy button button--small button--secondary expense__button expense__button--destroy">Destroy</button>
            </div>
          {{else}}
            <div>
              <button class="js-expense-edit button button--small button--primary expense__button expense__button--edit">Edit</button>
              <button class="js-expense-delete button button--small button--secondary expense__button expense__button--delete">Delete</button>
            </div>
          {{/if}}
        </div>
      </div>
      {{#if isArchived}}
        <svg data-element-name="icon" class="js-right-icon icon expense__icon expense__icon--right expense__icon--destroy">
          <use xlink:href="#icon-destroy"></use>
        </svg>
      {{else}}
        <svg data-element-name="icon" class="js-right-icon icon expense__icon expense__icon--right expense__icon--delete">
          <use xlink:href="#icon-delete"></use>
        </svg>
      {{/if}}
    </div>
  </article>
</template>
