<template name="expenseEdit">
  <form id="js-expense-edit" class="main expense-form">
    {{#if Template.subscriptionsReady}}
      <input id="js-expense-id" type="hidden" value="{{expense._id}}">
      <p class="expense-form__field expense-form__field--underlined">
        <label class="expense-form__label" for="amount" id="amount-label">Amount</label>
        <input value="{{parseAmount expense.amount}}" aria-labelledby="amount-label" type="number" min="0" step="any" id="amount" name="amount" class="js-expense-amount expense-form__input expense-form__input--amount" placeholder="2.30" required>
      </p>
      <p class="expense-form__field expense-form__field--underlined">
        <label class="expense-form__label" for="note" id="note-label">Note</label>
        <input value="{{expense.note}}" aria-labelledby="note-label" type="text" id="note" name="note" class="js-expense-note expense-form__input expense-form__input--note" placeholder="Morning coffee with Sam" required>
      </p>
      <p class="expense-form__field expense-form__field--underlined">
        <label class="expense-form__label" for="date" id="date-label">Date</label>
        <input value="{{moment expense.date format='YYYY-MM-DD'}}" aria-labelledby="date-label" type="date" id="date" name="date" class="js-expense-date expense-form__input expense-form__input--date">
      </p>
      <p class="expense-form__field">
        <label class="expense-form__label" for="time" id="time-label">Time</label>
        <select class="js-expense-time expense-form__select expense-form__select--time" id="time" aria-labelledby="time-label">
          {{#each times date=expense.date}}
            <option value="{{value}}" {{selected this.selected}}>{{title}}</option>
          {{/each}}
        </select>
      </p>
      <p class="expense-form__field expense-form__field--underlined">
        <label class="expense-form__label" for="location" id="location-label">Location</label>
        <input value="{{expense.location}}" aria-labelledby="location-label" type="text" id="location" name="location" class="js-expense-location expense-form__input expense-form__input--location" placeholder="Stokey Bear's">
      </p>
      <p class="expense-form__field expense-form__field--underlined">
        <label class="expense-form__label" for="tags" id="tags-label">Tags</label>
        <input value="{{tagNames expense.tags}}" aria-labelledby="tags-label" type="text" id="tags" name="tags" class="js-expense-tags expense-form__input expense-form__input--tags" placeholder="Food, Drinks, Bills">
      </p>
      <ul class="expense-form__tags">
        {{#each tags}}<li class="expense-form__tag">
          <button class="js-tag js-tag--{{name}} tag">
            <span class="js-tag-name">{{prettyName}}</span>
            <span class="tag__count">{{count}}</span>
          </button>
        </li>{{/each}}
      </ul>
      <button class="button button--functional button--primary expense-form__button">Update</button>
      <button id="js-cancel-button" class="button button--functional button--secondary expense-form__button">Cancel</button>
    {{else}}
      Loading...
    {{/if}}
  </form>
</template>
