<template name="expenseIndex">
  <main class="main expense-index">
    {{> notifications}}

    <div id="js-expenses" class="expense-list">
      {{#if Template.subscriptionsReady}}
        {{#each e in expenses}}
          {{> expense e}}
        {{/each}}
      {{else}}
        Loading...
      {{/if}}
    </div>

    {{> undo}}
  </main>

  <nav id="js-menu" class="menu">
    <a class="button button--primary-icon" href="{{expenseNewPath}}">
      <svg data-element-name="icon" class="icon button__icon">
        <use xlink:href="#icon-add"></use>
      </svg>
    </a>
  </nav>
</template>
