colours = {
    transparent: {
        default: rgba(0, 0, 0, 0),
    },
    black: {
        default: rgb(40, 40, 40),
    },
    white: {
        default: rgb(255, 255, 255),
    },
    grey: {
        dark: rgb(100, 100, 100),
        default: rgb(140, 140, 140),
        medium: rgb(200, 200, 200),
        light: rgb(220, 220, 220),
        lighter: rgb(235, 235, 235),
    },
    highlight: {
        default: rgb(233, 255, 225),
        medium: rgb(220, 245, 215),
    },
    red: {
        default: rgb(255, 0, 100),
    },
}
