.button
    display: block
    text-align: center
    background: colour('white')
    border: 0
    
    &--functional
        color: colour('white')
        text-transform: uppercase
        background: colour('black')
        
        &:hover,
        &:focus,
        &:active
            background: colour('yellow')
