.expense
    position: relative
    overflow: hidden
    background: colour('grey', 'medium');
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    -webkit-tap-highlight-color: transparent
    
    & + &
        &:before
            content: ''
            position: absolute
            z-index: 3
            top: 0
            left: 0
            display: block
            width: 100%
            border-bottom: 1px dashed colour('black')

    &__container
        overflow: hidden

        &--is-exiting-left,
        &--is-exiting-right
            max-height: 0px
            transition: transform .4s, max-height .4s ease .2s
            
        &--is-exiting-left
            transform: translateX(-100%)

        &--is-exiting-right
            transform: translateX(100%)

    &__delete-icon
        size = 48px
        position: absolute
        z-index: 1
        top: 50%
        display: block
        margin: -(size/2) 0 0
        width: size
        height: size
        fill: colour('grey')
        
        &--left
            left: 24px
            
        &--right
            right: 24px
            
        &--is-active
            fill: colour('black')
            
    &__date-icon,
    &__location-icon
        float: left
        
    &__date-icon
        margin: 5px 5px 0 1px
        width: 14px
        height: 14px
        
    &__location-icon
        margin: 4px 4px 0 0
        width: 16px
        height: 16px

    &__content
        position: relative
        z-index: 2
        padding: 16px 16px 12px
        
        &--is-reset
            transition: transform .4s

    &__details
        display(flex)
        flex-flow(row nowrap)
        align-items(baseline)
        margin: 0 0 6px

    &__content,
    &__note,
    &__amount
        background: colour('white')

    &__note
        padding: 0 8px 0 0
        max-width: (2/3) * 100%
        white-space: no-wrap
        text-overflow: ellipsis
        overflow: hidden
        
    &__separator
        flex-grow(1)
        border-bottom: 1px dotted colour('grey', 'light')

    &__amount
        padding: 0 0 0 8px

    &__location,
    &__date
        display: block
        color: colour('grey')
        font-size: rem(12)
        line-height: rem(24)

    &__tags-container
        position: relative

        &:after
            content: ''
            position: absolute
            top: 1px
            right: -16px
            width: 36px
            height: calc(100% - 1px)
            background: linear-gradient(right, colour('white') 25%, rgba(255, 255, 255, 0))
            pointer-events: none

    &__tags
        margin: 10px 0 -10px -16px
        padding: 10px 16px
        width: calc(100% + 32px)
        border-top: 1px dashed colour('grey', 'light')
        overflow-x: scroll
        overflow-scroll: touch
        -webkit-overflow-scroll: touch
        white-space: nowrap
