<template name="expense">
  <article class="js-expense expense">
    <div class="js-container">
      <svg viewBox="0 0 48 48" class="js-delete-icon--left icon expense__delete-icon expense__delete-icon--left">
        <use xlink:href="#icon-delete"></use>
      </svg>
      <div class="js-content expense__content">
        <div class="expense__details">
          <p class="expense__note">{{note}}</p>
          <span class="expense__separator"></span>
          <p class="expense__amount">{{currency amount}}</p>
        </div>
        {{#if location}}
            <p class="expense__location">{{location}}</p>
        {{/if}}
        <time class="expense__date" datetime="{{date}}">{{moment date format="dddd, Do [of] MMMM [at] hA"}}</time>
        {{#if hasTags}}
          <div class="expense__tags-container">
            <ul class="js-tags expense__tags">
              {{#each tags}}
                <li class="expense__tag"><a class="expense__tag-link{{#if selected}} expense__tag-link--is-selected{{/if}}" href="{{href}}" title="Show all `{{capitalise name}}` expenses">{{capitalise name}} ({{count}})</a></li>
              {{/each}}
            </ul>
          </div>
        {{/if}}
      </div>
      <svg viewBox="0 0 48 48" class="js-delete-icon--right icon expense__delete-icon expense__delete-icon--right">
        <use xlink:href="#icon-delete"></use>
      </svg>
    </div>
  </article>
</template>
