.expense
    height = 96px
    position: relative
    overflow: hidden
    background: colour('black')

    &--is-expanded        
        &__content
            transform: translateX(-100px)
            
        &__delete-button
            transform: translateX(-100px)

    &__content
        position: relative
        padding: 16px 16px 12px
        background: colour('white')
        transition: transform .4s

    &__details
        display(flex)
        flex-flow(row nowrap)
        align-items(baseline)
        margin: 0 0 6px

    &__note,
    &__amount
        background: colour('white')

    &__note
        padding: 0 10px 0 0
        max-width: (4 / 6) * 100%
        
    &__separator
        flex-grow(1)
        border-bottom: 1px solid colour('grey', 'light')

    &__amount
        padding: 0 0 0 10px
        max-width: (1 / 6) * 100%

    &__location,
    &__date
        display: block
        color: colour('grey')
        font-size: rem(12)
        line-height: rem(24)

        &:before
            display: inline-block
            vertical-align: middle
            margin: -3px 6px 0 0
            width: 10px
            height: 10px
            color: colour('black')
            font-size: rem(20)
            background-color: currentColor

    &__location
        clear: both

        &--empty

            &,
            &:before
                color: colour('grey', 'light')

        &:before
            content: ''

    &__date:before
        content: ''

    &__tags
        margin: 10px 0 0 -16px
        padding: 10px 16px 0
        width: calc(100% + 32px)
        border-top: 1px dashed colour('grey', 'light')

    &__tag
        font-scale('body', '1')
        display: inline-block
        
    &__tag-link
        position: relative
        padding: 5px 6px 5px 25px
        border: 1px solid colour('grey', 'light')
        
        &:before
            content: ''
            position: absolute
            top: 50%
            left: 7px
            width: 12px
            height: @width
            margin: -(@height/2) 0 0 0
            border: 1px solid colour('grey', 'light')

        &:hover,
        &:focus,
        &:active
            background: colour('grey', 'medium')
            border-color: colour('grey', 'medium')
            
            &:before
                background: colour('white')
                border-color: colour('white')
            
        &--selected
            color: colour('white')
            background: colour('black')
            border-color: colour('black')
            
            &:before
                background: colour('white')
                border-color: colour('white')

    &__delete-button
        position: absolute
        top: 0
        left: 100%
        z-index: 1
        width: 100px
        height: 100%
        text-indent: 100%
        background: url('/icons/delete.svg') center center / 40px 40px no-repeat
        border-radius: 50%
        transition: transform .4s
