.expense
    height = 96px
    position: relative
    overflow: hidden
    background: colour('grey', 'medium');
    
    & + &
        &:before
            content: ''
            position: absolute
            z-index: 3
            top: 0
            left: 0
            display: block
            width: 100%
            border-bottom: 1px dashed colour('black')

    &__delete-icon
        size = 48px
        position: absolute
        z-index: 1
        top: 50%
        display: block
        margin: -(size/2) 0 0
        width: size
        height: size
        fill: colour('grey')
        
        &--left
            left: 24px
            
        &--right
            right: 24px
            
        &--is-active
            fill: colour('black')

    &__content
        position: relative
        z-index: 2
        padding: 16px 16px 12px

    &__details
        display(flex)
        flex-flow(row nowrap)
        align-items(baseline)
        margin: 0 0 6px

    &__content,
    &__note,
    &__amount
        background: colour('white')

    &__note
        padding: 0 10px 0 0
        max-width: (2/3) * 100%
        white-space: no-wrap
        text-overflow: ellipsis
        overflow: hidden
        
    &__separator
        flex-grow(1)
        border-bottom: 1px solid colour('grey', 'light')

    &__amount
        padding: 0 0 0 10px

    &__location,
    &__date
        display: block
        color: colour('grey')
        font-size: rem(12)
        line-height: rem(24)

        &:before
            display: inline-block
            vertical-align: middle
            margin: -3px 6px 0 0
            width: 10px
            height: 10px
            color: colour('black')
            font-size: rem(20)
            background-color: currentColor

    &__location
        clear: both

        &--empty

            &,
            &:before
                color: colour('grey', 'light')

        &:before
            content: ''

    &__date:before
        content: ''

    &__tags-container
        position: relative

        &:after
            content: ''
            position: absolute
            top: 1px
            right: -16px
            width: 36px
            height: calc(100% - 1px)
            background: linear-gradient(right, colour('white') 25%, rgba(255, 255, 255, 0))
            pointer-events: none

    &__tags
        margin: 10px 0 -10px -16px
        padding: 10px 16px
        width: calc(100% + 32px)
        border-top: 1px dashed colour('grey', 'light')
        overflow-x: scroll
        overflow-scroll: touch
        -webkit-overflow-scroll: touch
        white-space: nowrap

    &__tag
        display: inline-block
        margin: 0 8px 0 0
        font-scale('body', '1')
        
    &__tag-link
        position: relative
        padding: 5px 6px 5px
        border: 1px solid colour('grey', 'light')
                
        &:focus
            border-color: colour('grey', 'medium')

        &:active
            background: colour('grey', 'medium')
            border-color: colour('grey', 'medium')
            
        &--is-selected
            color: colour('white')
            background: colour('black')
            border-color: colour('black')
            
            &:before
                background: colour('white')
                border-color: colour('white')

    &__tag-count
        display: inline-block
        padding: 2px 0 0
        width: 20px
        height: @width
        text-align: center
        border: 1px dotted colour('grey', 'medium')
        border-radius: 50%
        
        &--is-selected
            border-color: colour('white')
