.button
    height = 64
    display: inline-block
    vertical-align: middle
    height: height * 1px
    line-height: rem(height)
    color: colour('white')
    text-align: center
    background: colour('black')
    border: 0

    &--primary
        background: colour('black')

    &--secondary
        background: lighten(colour('black'), 10%)

    &--tertiary
        background: lighten(colour('black'), 20%)

    &--primary-icon
        float: right
        margin: 16px
        color: colour('white')
        width: 64px

    &--small
        height = 44
        height: height * 1px
        line-height: rem(height)

    &__icon
        display: block
        margin: 0 auto
        height: 100%

    &:hover,
    &:active
        color: colour('grey')
        background: colour('highlight')
