.dashboard
    padding: 0 0 44px
    
    .list-of-expenses
        
        &__item
            border-bottom: 1px dashed colour('black')
        
            &:last-of-type
                border: 0

    &__add-expense-button
        position: fixed
        bottom: 0
        left: 0
        padding: rem(6) 0 0
        width: 100%
        line-height: rem(32)
