<template name="addExpense">
  <section class="view add-expense">
    <form id="js-add-expense" class="add-expense-form">
      <p class="add-expense-form__field">
        <label class="add-expense-form__label" for="amount" id="amount-label">Amount</label>
        <input aria-labelledby="amount-label" type="number" id="amount" name="amount" class="js-expense-amount add-expense-form__input add-expense-form__amount" placeholder="2.30">
      </p>
      <p class="add-expense-form__field">
        <label class="add-expense-form__label" for="note" id="note-label">Note</label>
        <input aria-labelledby="note-label" type="text" id="note" name="note" class="js-expense-note add-expense-form__input add-expense-form__note" placeholder="Morning coffee with Sam">
      </p>
      <p class="add-expense-form__field">
        <label class="add-expense-form__label" for="date" id="date-label">Date</label>
        <input aria-labelledby="date-label" type="date" id="date" name="date" class="js-expense-date add-expense-form__input add-expense-form__date" value="{{now.date}}">
      </p>
      <p class="add-expense-form__field">
        <label class="add-expense-form__label" for="time" id="time-label">Time</label>
        <input aria-labelledby="time-label" type="time" id="time" name="time" class="js-expense-time add-expense-form__input add-expense-form__time" step="0.01" value="{{now.time}}">
      </p>
      <p class="add-expense-form__field">
        <label class="add-expense-form__label" for="location" id="location-label">Location</label>
        <input aria-labelledby="location-label" type="text" id="location" name="location" class="js-expense-location add-expense-form__input add-expense-location" placeholder="Stokey Bear's">
      </p>
      <p class="add-expense-form__field">
        <label class="add-expense-form__label" for="tags" id="tags-label">Tags</label>
        <input aria-labelledby="tags-label" type="text" id="tags" name="tags" class="js-expense-tags add-expense-form__input add-expense-form__tags" placeholder="Food, Drinks, Bills">
      </p>
      <ul class="add-expense__tags">
        {{#each tags}}
          <li class="tag">
            <a class="js-tag-link js-tag-link--{{name}} tag__link"><span class="js-tag-name">{{prettyName name}}</span> <span class="tag__count">{{count}}</span></a>
          </li>
        {{/each}}
      </ul>
      <button class="button button--functional add-expense-form__button">Add</button>
    </form>
  </section>
</template>
