.add-expense-form

    &__field
        @extend .group
        height: 64px
        line-height: rem(64)
        
    &__label,
    &__input
        float: left
        padding: 0 15px
        height: 100%
        
    &__label
        width: (1 / 3) * 100%
        text-align: right
        border-right: 1px solid colour('grey', 'light')

    &__input
        width: (2 / 3) * 100%
        line-height: inherit

    &__button
        width: 100%;
