<template name="expenseEdit">
  <section class="view expense-edit">
    <form id="js-expense-edit" class="expense-edit-form">
      <p class="expense-edit-form__field">
        <label class="expense-edit-form__label" for="amount" id="amount-label">Amount</label>
        <input value="{{parseAmount expense.amount}}" aria-labelledby="amount-label" type="number" id="amount" name="amount" class="js-expense-amount expense-edit-form__input expense-edit-form__amount" placeholder="2.30">
      </p>
      <p class="expense-edit-form__field">
        <label class="expense-edit-form__label" for="note" id="note-label">Note</label>
        <input value="{{expense.note}}" aria-labelledby="note-label" type="text" id="note" name="note" class="js-expense-note expense-edit-form__input expense-edit-form__note" placeholder="Morning coffee with Sam">
      </p>
      <p class="expense-edit-form__field">
        <label class="expense-edit-form__label" for="date" id="date-label">Date</label>
        <input value="{{expense.date}}" aria-labelledby="date-label" type="date" id="date" name="date" class="js-expense-date expense-edit-form__input expense-edit-form__date">
      </p>
      <p class="expense-edit-form__field">
        <label class="expense-edit-form__label" for="time" id="time-label">Time</label>
        <input value="{{expense.time}}" aria-labelledby="time-label" type="time" id="time" name="time" class="js-expense-time expense-edit-form__input expense-edit-form__time" step="0.01">
      </p>
      <p class="expense-edit-form__field">
        <label class="expense-edit-form__label" for="location" id="location-label">Location</label>
        <input value="{{expense.location}}" aria-labelledby="location-label" type="text" id="location" name="location" class="js-expense-location expense-edit-form__input expense-edit-location" placeholder="Stokey Bear's">
      </p>
      <p class="expense-edit-form__field">
        <label class="expense-edit-form__label" for="tags" id="tags-label">Tags</label>
        <input value="{{expense.tags}}" aria-labelledby="tags-label" type="text" id="tags" name="tags" class="js-expense-tags expense-edit-form__input expense-edit-form__tags" placeholder="Food, Drinks, Bills">
      </p>
      <ul class="expense-edit__tags">
        {{#each tags}}<li class="expense-edit__tag">
          <button class="js-tag js-tag--{{name}} tag">
            <span class="js-tag-name">{{prettyName name}}</span> 
            <span class="tag__count">{{count}}</span>
          </button>
        </li>{{/each}}
      </ul>
      <button class="button button--functional expense-edit-form__button">Update</button>
    </form>
  </section>
</template>
