.expense-index,
.expense-archive
    padding: 0 0 76px

.expense-list
    background: colour('grey', 'light')

.expense-form
    background: colour('white')

    &__field
        @extend .group
        position: relative
        height: 64px
        line-height: rem(64)
        
        &--underlined:before
            content: ''
            display: block
            position: absolute
            bottom: 22px
            left: (1 / 3) * 100%
            width: "calc(%s - 16px)" % ((2 / 3) * 100%)
            border-top: 1px dotted colour('grey', 'light')
        
    &__label,
    &__input
        float: left
        height: 100%
        
    &__label
        padding: 0 32px 0 16px
        width: (1 / 3) * 100%
        text-align: right
        
        &:after
            content: ':'

    &__input
        padding: 0 16px 0 0
        width: (2 / 3) * 100%
        line-height: inherit

    &__button
        width: 100%;

    &__tags
        float: right
        margin: -14px 0 14px
        padding: 0 16px 0 0
        width: (2 / 3) * 100%
        line-height: rem(64)
        overflow-x: scroll
        overflow-scroll: touch
        -webkit-overflow-scroll: touch
        white-space: nowrap
        
    &__tag
        display: inline-block
        
        & + &
            margin-left: 12px
