.expenses-list
    padding: 0 0 64px

    &__add-expense-button
        position: fixed
        z-index: 2
        bottom: 0
        left: 0
        width: 100%
    
    &__filters
        padding: 16px
        border-bottom: 1px solid colour('black')
