colours = {
    black: {
        default: rgb(20, 20, 20),
    },
    white: {
        default: rgb(255, 255, 255),
    },
    grey: {
        default: rgb(140, 140, 140),
        light: rgb(220, 220, 220),
    },
    yellow: {
        default: rgb(240, 240, 20),
    },
    red: {
        default: rgb(240, 0, 60),
    },
}
