colours = {
    black: {
        default: rgb(20, 20, 20),
    },
    white: {
        default: rgb(255, 255, 255),
    },
    grey: {
        dark: rgb(100, 100, 100),
        default: rgb(140, 140, 140),
        medium: rgb(200, 200, 200),
        light: rgb(220, 220, 220),
    },
    yellow: {
        default: rgb(240, 240, 20),
    },
    red: {
        default: rgb(255, 0, 100),
    },
}
