.notification
    height = 44
    overflow: hidden
    text-align: center
    line-height: rem(height)

    &__button
        display: block
        padding: 0 16px
        height: height * 1px
        width: 100%
        color: colour('grey', 'dark')
        background: colour('highlight', 'medium')
        border: 0
